<%= render 'shared/start_over_row' %>
<div id="content" class="col-md-12">
<h1 class='page-heading'><%= t('blacklight.bookmarks.title') %></h1>
<%= render 'clear_bookmarks_widget' %>
<%= render 'account/login_links', feature_page: "bookmarks" %>
<%- if current_or_guest_user.blank? -%>

  <h2 class='section-heading'><%= t('blacklight.bookmarks.need_login') %></h2>

<%- elsif @response.documents.blank? -%>

  <h3 class='section-heading'><%= t('blacklight.bookmarks.no_bookmarks') %></h3>
<% else %>
  <%= render 'sort_and_per_page' %>
  <h2 class='section-heading sr-only visually-hidden'><%= t('blacklight.bookmarks.list_title') %></h2>
  <%= render_document_index @response.documents %>
  <%= render 'results_pagination' %>
<% end %>
</div>

