<td class="location-services <%= show_request %>"
  data-open="<%= open_location? %>" data-requestable="<%= requestable_location? %>"
  data-aeon="<%= aeon_location? %>" data-holding-id="<%= holding_id %>">
  <%= render button_component %>
</td>
