<tr class="holding-block">
    <td class="call-number-details">
      <%= render(Holdings::CallNumberLinkComponent.new(holding, cn_value)) %>
      <%= render(Holdings::HoldingNotesComponent.new(holding, holding_id, adapter)) %>
    </td>
    <% if adapter.repository_holding?(holding) %>
      <td>
        <span class="availability-icon lux-text-style green strong">On-site access</span>
      </td>
    <% elsif adapter.scsb_holding?(holding) && !adapter.empty_holding?(holding) %>
      <%= render Holdings::HoldingAvailabilityScsbComponent.new(holding, doc_id, holding_id) %>
    <% elsif adapter.unavailable_holding?(holding) %>
      <td class="holding-status">
        <span class="availability-icon lux-text-style red strong">Unavailable</span>
      </td>
    <% else %>
      <%= render Holdings::HoldingAvailabilityComponent.new(doc_id, holding_id, location_rules, temp_location_code) %>
    <% end %>
    <% if mapable? %>
      <%= render Holdings::LibmapButtonComponent.new(adapter, holding) %>
    <% end %>
    <%= render(Holdings::LocationServicesComponent.new(adapter, holding_id, location_rules, holding, open_holdings)) %>
</tr>



