<% facet_field_names.each do |facet_field_name| %>
  <%= render partial: 'facet_as_select', locals: { facet_field_name: facet_field_name } %>
<% end %> 
<%# Publication Date is a range input %>
<% pub_date = facet_configuration_for_field('pub_date_start_sort') %>
<div class="form-group advanced-search-facet row">
  <%= label_tag pub_date.field.parameterize, :class => "col-sm-4 control-label advanced-facet-label" do %>
      <%= pub_date.label %>
  <% end %>
  <div class="col-sm-8 range_limit">
    <label for="range_pub_date_start_sort_begin" class="sr-only">Publication date range (starting year)</label>
    <%= range_form_component(pub_date.field).render_range_input(:begin) %>
    <label for="range_pub_date_start_sort_end" class="sr-only">Publication date range (ending year)</label>
    <%= range_form_component(pub_date.field).render_range_input(:end) %>
  </div>
</div>
