
<div class="form-group advanced-search-field">
  <%= select_tag('f1', options_for_select(advanced_key_value), :class=>"search_field col-sm-2") %>
  <div name="row1" class="col-sm-10">
    <%= text_field_tag "q1", nil, :class => 'form-control' %>
  </div>
  <div>
    <input type="radio" name="op2" value="AND" checked>AND
    <input type="radio" name="op2" value="OR">OR
    <input type="radio" name="op2" value="NOT">NOT
  </div>
  <%= select_tag('f2', options_for_select(advanced_key_value, 'author'), :class=>"search_field col-sm-2") %>
  <div name="row2" class="col-sm-10">
    <%= text_field_tag "q2", nil, :class => 'form-control' %>
  </div>
  <div>
    <input type="radio" name="op3" value="AND" checked>AND
    <input type="radio" name="op3" value="OR">OR
    <input type="radio" name="op3" value="NOT">NOT
  </div>
  <%= select_tag('f3', options_for_select(advanced_key_value, 'subject'), :class=>"search_field col-sm-2") %>
  <div name="row3" class="col-sm-10">
    <%= text_field_tag "q3", nil, :class => 'form-control' %>
  </div>
  <div>
    <input type="radio" name="op4" value="AND" checked>AND
    <input type="radio" name="op4" value="OR">OR
    <input type="radio" name="op4" value="NOT">NOT
  </div>
  <%= select_tag('f4', options_for_select(advanced_key_value, 'subject'), :class=>"search_field col-sm-2") %>
  <div name="row4" class="col-sm-10">
    <%= text_field_tag "q4", nil, :class => 'form-control' %>
  </div>  
</div>