
<% facets_from_request(facet_field_names).each do |display_facet| %>
    <% if display_facet.items.present? %>
      <% if display_facet.name == 'advanced_location_s' %>
        <%= render 'location_code_facet', display_facet: display_facet %>
      <% else %>
        <div class="form-group advanced-search-facet row">
            <%= label_tag display_facet.name.parameterize, :class => "col-sm-4 control-label advanced-facet-label" do %>
                <%= facet_field_label(display_facet.name) %>
            <% end %>
            <div class="col-sm-8">
              <%= content_tag(:select, :multiple => true,
                :name   => "f_inclusive[#{display_facet.name}][]",
                :id     => display_facet.name.parameterize,
                :class  => "form-control advanced-search-facet-select chosen-select",
                data: { placeholder: "Type or select #{facet_field_label(display_facet.name).downcase.pluralize}" }) do %>
                <% display_facet.items.each do |facet_item| %>
                  <%= content_tag :option, :value => facet_item.value, :selected => facet_value_checked?(display_facet.name, facet_item.value) do %>
                    <%= facet_display_value(display_facet.name, facet_item.label) %>&nbsp;&nbsp;(<%= number_with_delimiter facet_item.hits %>)
                    <% end %>
                  <% end %>
                <% end %>
            </div>
        </div>
      <% end %>
    <% end %>
<% end %>
<%# Publication Date is a range input %>
<% pub_date = facet_configuration_for_field('pub_date_start_sort') %>
<div class="form-group advanced-search-facet row">
  <%= label_tag pub_date.field.parameterize, :class => "col-sm-4 control-label advanced-facet-label" do %>
      <%= pub_date.label %>
  <% end %>
  <div class="col-sm-8 range_limit">
    <label for="range_pub_date_start_sort_begin" class="sr-only">Publication date range (starting year)</label>
    <%= render_range_input(pub_date.field, :begin) %> –
    <label for="range_pub_date_start_sort_end" class="sr-only">Publication date range (ending year)</label>
    <%= render_range_input(pub_date.field, :end) %>
  </div>
</div>
