
<div class="advanced-search-field">
  <div class="search-field">
    <%= select_tag('f1', options_for_select(advanced_key_value, guided_field(:f1, 'all_fields')), :class=>"search_field") %>
    <div name="row1">
      <%= text_field_tag "q1", label_tag_default_for(:q1), :class => 'form-control', :autocomplete => "off", autocorrect: "off", autocapitalize: "off", spellcheck: "false" %>
    </div>
  </div>
  <div class="search-operators">
    <label><%= radio_button_tag("op2", "AND", guided_radio(:op2, "AND")) %> AND</label>
    <label><%= radio_button_tag("op2", "OR", guided_radio(:op2, "OR")) %> OR</label>
    <label><%= radio_button_tag("op2", "NOT", guided_radio(:op2, "NOT")) %> NOT</label>
  </div>
  <div class="search-field">
    <%= select_tag('f2', options_for_select(advanced_key_value, guided_field(:f2, 'title')), :class=>"search_field") %>
    <div name="row2">
      <%= text_field_tag "q2", label_tag_default_for(:q2), :class => 'form-control', :autocomplete => "off", autocorrect: "off", autocapitalize: "off", spellcheck: "false" %>
    </div>
  </div>
  <div class="search-operators">
    <label><%= radio_button_tag("op3", "AND", guided_radio(:op3, "AND")) %> AND</label>
    <label><%= radio_button_tag("op3", "OR", guided_radio(:op3, "OR")) %> OR</label>
    <label><%= radio_button_tag("op3", "NOT", guided_radio(:op3, "NOT")) %> NOT</label>
  </div>
  <div class="search-field">
    <%= select_tag('f3', options_for_select(advanced_key_value, guided_field(:f3, 'author')), :class=>"search_field") %>
    <div name="row3">
      <%= text_field_tag "q3", label_tag_default_for(:q3), :class => 'form-control', :autocomplete => "off", autocorrect: "off", autocapitalize: "off", spellcheck: "false" %>
    </div>
  </div>
</div>
