<tr class="email-header">
  <td colspan="2" style="padding: 18px;border-top: 6px solid #e77500;">
    <%= render  partial: 'request_header_digitize' %>
  </td>
</tr>

<tr>
  <td colspan="2" style="padding: 18px;">
    <p class="body-content" style="margin-bottom:0;">
      <%= I18n.t('requests.recap_edd.email_conf_msg').html_safe %>
    </p>
  </td>
</tr>

<tr class="bib-info">
  <td colspan="2" style="padding: 18px;border-top:1px solid #ccc;">
    <%= render 'bib_info_patron' %>
    <% if @submission.items.first["user_supplied_enum"].present? %>
      <div style="font-weight:normal;font-size:12px;margin-top:18px;">User Supplied Enumeration</div>
      <div class="large-print" style="font-size:20px;line-height:1.4;"><%= @submission.items.first["user_supplied_enum"] %></div>
    <% end %>
  </td>
</tr>

<tr>
  <td colspan="2" style="padding: 18px;border-top:1px solid #ccc;">
    <%= render 'item_info_digitize' %>
  </td>
</tr>
