<% if constraints? %>
  <div class="constraints well search_history">
    <h4><%= t 'blacklight.advanced_search.form.search_context' %></h4>
    <% constraints.each do |constraint| %>
      <%= constraint %>
    <% end %>
  </div>
<% end %>
<%= form_tag @url, method: @method, class: @classes.join(' '), role: 'search', 'aria-label' => t('blacklight.search.form.submit') do %>
  <%= render Blacklight::HiddenSearchStateComponent.new(params: hidden_search_state_params) %>
  <div class="two-columns-md">
      <% search_filter_controls.each do |control| %>
        <%= control %>
      <% end %>
      <div class="mb-3 advanced-search-facet row">
        <%= label_tag pub_date_field.parameterize, :class => "col-sm-4 control-label advanced-facet-label" do %>Year<% end %>
        <div class="col-sm-8">
          <%= render RangeFormComponent.new(facet_field: pub_date_presenter) %>
        </div>
      </div>
      <div class="mb-3 advanced-search-facet row">
        <%= hidden_field_tag('clause[1][field]', 'all_fields') %>
        <label for="clause_1_query" class="col-sm-4 control-label advanced-facet-label">Keyword</label>
      <div class="col-sm-8">
        <%= text_field_tag "clause[1][query]", '', # TODO: if there is an existing keyword search, set it as the default
          id: 'clause_1_query',
          class: 'form-control',
          autocorrect: "off",
          autocapitalize: "off",
          autocomplete: "off",
          spellcheck: "false" %>
      </div>
    </div>
  </div>

  <div class="search-submit-buttons clearfix col-sm-7">
    <div class="submit-buttons float-end mb-3">
      <%= submit_tag t('blacklight.advanced_search.form.search_btn_html'), class: 'btn btn-primary advanced-search-submit', id: "advanced-search-submit" %>
    </div>

  </div>
<% end %>
