<%= render 'shared/start_over_row' %>

<div class="col-12">
  <div class="browse-header">
    <h1 class="page-heading"> Browse by <%="#{@list_name.downcase}" %></h1>
    <div class="d-flex prev_next_links btn-group float-md-right flex-wrap" role="group" aria-label="Previous Next Links">
      
        <nav aria-label="top pager" class="nav">
          <%= render "orangelight/browsables/browse_pagination"%>
        </nav>
        <%= render(Blacklight::System::DropdownComponent.new(
          param: :per_page,
          choices: per_page_options_for_select,
          id: 'per_page-dropdown',
          search_state: search_state,
          selected: current_browse_per_page,
          interpolation: :count)) do |component| %>
          <% component.with_options(
            [10, 25, 50, 100].map do |count|
              {text: count, url: params.merge(rpp: count).permit(:rpp, :start, :model, :controller, :action) }
            end) %>
        <% end %>
    </div>
  </div>
</div>
<div class="col-12">
  <% if @model != 'call_numbers' %>
    <ul class="browse">
      <% @orangelight_browsables.sort.each_with_index do |orangelight_name, i| %>

        <% if orangelight_name.id == @match && @exact_match %>
          <li class="alert alert-info clickable-row" data-href="/catalog/?f[<%=@facet%>][]=<%=CGI.escape orangelight_name.label%>">
            <strong>
        <% else %>
          <li class="row-<%=i.even? ? 'odd' : 'even' %>">
        <% end %>
          &nbsp;
          <span class="facet-label <%=orangelight_name.dir%>"><%= link_to orangelight_name.label, "/catalog/?f[#{@facet}][]=#{CGI.escape orangelight_name.label}", dir: orangelight_name.dir %>
            <%= "(#{orangelight_name.count})"%>
          </span>
        <% if orangelight_name.id == @match && @exact_match %>
            </strong>
          </li>
        <% else %>
          </li>
        <% end %>
        <% if orangelight_name.id == @match && !@exact_match %>
          <li class="alert alert-info">
          <i class="fa fa-search" aria-hidden="true"></i> <strong>Your query "<%= @query %>" would be here.</strong>
          </li>
        <% end %>
      <% end %>
    </ul>

  <% else %>
  <div id="content" class="browse-row">
  <table class="browse browse--call-number documents-list">
    <thead>
      <tr>
        <th> <%= @list_name %> </th>
        <th>Location</th>
        <th>Title</th>
        <th>Contributor</th>
        <th>Publication info</th>
      </tr>
    </thead>

    <tbody >
      <% @orangelight_browsables.sort.each_with_index do |orangelight_name, i| %>
        <% if orangelight_name.id == @match && @exact_match %>
          <tr class="alert alert-info clickable-row" data-href="/catalog/<%=orangelight_name.bibid%>">
            <strong>
        <% else %>
          <tr class="row-<%=i.even? ? 'odd' : 'even' %>">
        <% end %>
          <td><%= link_to orangelight_name.label, "/catalog/#{orangelight_name.bibid}" %></td>
          <td class="availability-column" data-availability-record="<%= should_check_availability?(orangelight_name.bibid) %>" data-record-id="<%= bib_for_availability(orangelight_name.bibid) %>" data-holding-id="<%= orangelight_name.holding_id %>">
            <%= content_tag(:span, content_tag(:span, orangelight_name.location, class: 'results_location'), class: 'library-location', data: { location: true, record_id: orangelight_name.bibid, holding_id: orangelight_name.holding_id }) %>
            </br><span class="availability-icon badge badge-secondary"></span>
            <%= content_tag(:span, '', class: 'more-info empty', data: { record_id: orangelight_name.bibid }) unless orangelight_name.location == 'Multiple locations' %>
            <% if scsb_id?(orangelight_name.bibid) %>
              </br>
              <span class="more-info badge badge-secondary" data-record-id="<%= orangelight_name.bibid %>" title="Click on the record for full availability info">View record for full availability</span>
            <% end %>
          </td>

          <td class="<%=orangelight_name.dir%>"><%= orangelight_name.title %></td>
          <td><%= orangelight_name.author %></td>
          <td><%= orangelight_name.date %></td>
        <% if orangelight_name.id == @match && @exact_match %>
            </strong>
          </tr>
        <% else %>
          </tr>
        <% end %>
        <% if orangelight_name.id == @match && !@exact_match %>
            <tr class="alert alert-info"> <td colspan=5>
            <i class="fa fa-search" aria-hidden="true"></i> <strong>Your query "<%= @query %>" would be here.</strong> </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  </div>
  <% end %>
</div>
<div class="col-12">
  <div class="prev_next_links" role="group" aria-label="Previous Next Links">
    <nav aria-label="bottom pager" class="nav justify-content-center">
      <%= render "orangelight/browsables/browse_pagination"%>
    </nav>
  </div>
</div>
