<%= render 'shared/start_over_row' %>

<div class="col-12">
  <div class="browse-header">
    <h1 class="page-heading"> Browse by <%="#{@list_name.downcase}" %></h1>
    <div class="d-flex prev_next_links btn-group float-md-right flex-wrap" role="group" aria-label="Previous Next Links">
      
        <nav aria-label="Top pager" class="nav">
          <%= render "orangelight/browsables/browse_pagination"%>
        </nav>
        <%= render(Blacklight::System::DropdownComponent.new(
          param: :per_page,
          choices: per_page_options_for_select,
          id: 'per_page-dropdown',
          search_state: search_state,
          selected: current_browse_per_page,
          interpolation: :count)) do |component| %>
          <% component.with_options(
            [10, 25, 50, 100].map do |count|
              {text: count, url: params.merge(rpp: count).permit(:rpp, :start, :model, :controller, :action) }
            end) %>
        <% end %>
    </div>
  </div>
</div>
<div class="col-12">
<%  %>
  <% if @model == 'subjects' %>
    <%= render "orangelight/browsables/subjects" %>
  <% elsif @model != 'call_numbers' %>
    <%= render "orangelight/browsables/browse" %>
  <% else %>
    <%= render "orangelight/browsables/call_numbers" %>
  <% end %>
</div>
<div class="col-12">
  <div class="prev_next_links" role="group" aria-label="Previous Next Links">
    <nav aria-label="Bottom pager" class="nav justify-content-center">
      <%= render "orangelight/browsables/browse_pagination"%>
    </nav>
  </div>
</div>
