<%= render 'shared/start_over_row' %>

<div class="col-12">
  <div class="browse-header">
    <h1 class="page-heading"> Browse by <%="#{@list_name.downcase}" %></h1>
    <div class="d-flex prev_next_links btn-group float-md-right flex-wrap" role="group" aria-label="Previous Next Links">
      
        <nav aria-label="Top pager" class="nav">
          <%= render "orangelight/browsables/browse_pagination"%>
        </nav>
        <%= render(Blacklight::System::DropdownComponent.new(
          param: :per_page,
          choices: per_page_options_for_select,
          id: 'per_page-dropdown',
          search_state: search_state,
          selected: current_browse_per_page,
          interpolation: :count)) do |component| %>
          <% component.with_options(
            [10, 25, 50, 100].map do |count|
              {text: count, url: params.merge(rpp: count).permit(:rpp, :start, :model, :controller, :action) }
            end) %>
        <% end %>
    </div>
  </div>
</div>
<div class="col-12">
  <% if @model == 'subjects' %>
    <div id="content" class="browse-row">
      <table class="browse browse--subjects documents-list">
        <thead>
          <tr>
            <th> <%= @list_name %> </th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody >
          <% @orangelight_browsables.each_with_index do |orangelight_subject, i| %>
            <% facet_field = vocab_type(orangelight_subject.vocabulary) %>
            <% if orangelight_subject.id == @match && @exact_match %>
              <tr class="alert alert-info clickable-row" data-href="/catalog/?f[<%=facet_field%>][]=<%=CGI.escape orangelight_subject.label%>">
                <strong>
            <% else %>
              <tr class="row-<%=i.even? ? 'odd' : 'even' %>">
            <% end %>
              <td class="<%=orangelight_subject.dir%>"><%= link_to orangelight_subject.label, "/catalog/?f[#{facet_field}][]=#{CGI.escape orangelight_subject.label}", dir: orangelight_subject.dir %>
                <%= "(#{orangelight_subject.count})"%></td>
              <td><%= orangelight_subject.vocabulary %></td>
            <% if orangelight_subject.id == @match && @exact_match %>
                </strong>
              </tr>
            <% else %>
              </tr>
            <% end %>
            <% if orangelight_subject.id == @match && !@exact_match %>
                <tr class="alert alert-info"> <td colspan=5>
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> <strong>Your query "<%= @query %>" would be here.</strong> </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% elsif @model != 'call_numbers' %>
    <%= render "orangelight/browsables/browse" %>
  <% else %>
    <%= render "orangelight/browsables/call_numbers" %>
  <% end %>
</div>
<div class="col-12">
  <div class="prev_next_links" role="group" aria-label="Previous Next Links">
    <nav aria-label="Bottom pager" class="nav justify-content-center">
      <%= render "orangelight/browsables/browse_pagination"%>
    </nav>
  </div>
</div>
