<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @orangelight_browsable.label %>
</p>

<p>
  <strong>Count:</strong>
  <%= @orangelight_browsable.count %>
</p>

<p>
  <strong>Sort:</strong>
  <%= @orangelight_browsable.sort %>
</p>

<p>
  <strong>Dir:</strong>
  <%= @orangelight_browsable.dir %>
</p>

<%= link_to 'Back', browse_names_path %>
