<% if has_user_authentication_provider? %>
  <% if current_user %>
    <li class="dropdown dropdown-account">
      <button type="button" class="dropdown-toggle btn-account" data-toggle="dropdown">
        <%= current_user.to_s %> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li role="menuitem">
          <%= link_to(main_app.new_user_session_path(origin: "/redirect-to-alma"), target: "_blank") do %>
            Library Account <i class="fa fa-external-link" aria-hidden="true"></i>
          <% end %>
        </li>
        <li role="menuitem"><%= link_to "Digitization Requests", main_app.digitization_requests_path %></li>
        <li role="menuitem"><%= render partial: 'blacklight/nav/bookmark', locals: {link_id: 'account_bookmarks_nav'} %></li>
        <li role="menuitem"><%= render partial: 'blacklight/nav/search_history' %></li>
        <li role="menuitem">
          <%= link_to t('blacklight.header_links.logout'), main_app.destroy_user_session_path, :method => :delete %>
        </li>
      </ul>
    </li>
  <% else %>
    <li>
      <button type="button" class="dropdown-toggle btn-account" data-toggle="dropdown">
        <%= t('blacklight.header_links.account_page') %> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li role="menuitem">
          <%= link_to(main_app.new_user_session_path(origin: "/redirect-to-alma"), target: "_blank", id: "unauthenticated-library-account-link") do %>
            Library Account <i class="fa fa-external-link" aria-hidden="true"></i>
          <% end %>
        </li>
        <li role="menuitem"><%= link_to "Digitization Requests", main_app.digitization_requests_path %></li>
        <li role="menuitem"><%= render partial: 'blacklight/nav/bookmark', locals: {link_id: 'account_bookmarks_nav'} %></li>
        <li role="menuitem"><%= render partial: 'blacklight/nav/search_history' %></li>
      </ul>
    </li>
  <% end %>
<% end %>
