<%= render partial: "shared/announcement" %>
<header>
  <div class="l-branding__pul">
    <div class="container">
      <div class="logo__pul col-xs-12 col-sm-6">
        <a href="https://library.princeton.edu" title="Princeton University Library">
           <%= image_tag("pul-logo-new.svg") %>
        </a>
        <%=link_to t('blacklight.orangelight').html_safe, main_app.root_path, :class => "site-title" %>
      </div>
      <div class="pull-right menu--level-1 col-xs-12 col-sm-6">
        <ul>
          <li><%= link_to 'Help', main_app.page_path('help') %></li>
          <li><a href="/feedback">Feedback</a></li>
          <%= render :partial=>'/account' %>
        </ul>
      </div>
    </div>
  </div>
  <% unless params[:action] == 'generate' %>
    <div class="header__secondary">
      <nav class="container">
        <div id="search-navbar" class="col-xs-12 search-navbar" role="search">
          <%= render_search_bar %>
        </div>
        <%= render :partial=>'/user_util_links' %>
      </nav>
    </div>
  <% end %>
</header>
