<%= render partial: "shared/announcement" %>
<header class="lux">
  <% if current_user.present? %>
    <orangelight-header bookmarks="<%= current_or_guest_user.bookmarks.count %>"
                        :logged-in="true"
                        net-id="<%= current_user.to_s %>">
    </orangelight-header>
  <% else %>
    <orangelight-header bookmarks="<%= current_or_guest_user.bookmarks.count %>" :logged-in="false"></orangelight-header>
  <% end %>

  <%# Display the basic search bar on most (but not all) interfaces.
    # Note: if you remove the search bar from a particular
    # screen, also remove the "Skip to Search" link from the
    # skip navigation links, so that there aren't broken
    # skip navigation links. %>
  <% unless (%w[generate numismatics].include? params[:action]) || (%w[advanced].include? params[:controller]) then %>
    <div class="header__secondary">
      <nav class="container" aria-label='Search'>
        <div class="row">
          <div id="search-navbar" class="search-navbar navbar" role="search">
            <%= render Orangelight::SearchBarComponent.new(
              url: search_action_url,
              params: search_state.params_for_search.except(:qt)
            ) %>
            <ul class="search-options">
              <li>
                <%= link_to 'Advanced Search', '/advanced', :class=>'advanced_search'%>
              </li>
            </ul>
            <%= render :partial=>'/user_util_links' %>
          </div>
        <div>
      </nav>
    </div>
  <% end %>
</header>
