<%= render partial: "shared/announcement" %>
<header>
  <div class="l-branding__pul">
    <div class="container">
      <div class="row align-items-center">
        <div class="logo__pul col-12 col-sm-auto">
          <a href="https://library.princeton.edu">
             <%= image_tag("pul-logo-new.svg", alt: "Link to Princeton University Library home page") %>
          </a>
          <%=link_to t('blacklight.orangelight').html_safe, main_app.root_path, :class => "site-title" %>
        </div>
        <div class="pull-right menu--level-1 col-12 col-sm-auto ml-auto">
          <ul>
            <li><%= link_to 'Help', main_app.page_path('help') %></li>
            <li><a href="/feedback">Feedback</a></li>
            <%= render :partial=>'shared/account' %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <%# Display the basic search bar on most (but not all) interfaces.
    # Note: if you remove the search bar from a particular
    # screen, also remove the "Skip to Search" link from the
    # skip navigation links, so that there aren't broken
    # skip navigation links. %>
  <% unless %w[generate numismatics].include? params[:action] %>
    <div class="header__secondary">
      <nav class="container" aria-label='Search'>
        <div class="row">
          <div id="search-navbar" class="search-navbar navbar" role="search">
            <%= render Orangelight::SearchBarComponent.new(
              url: search_action_url,
              params: search_state.params_for_search.except(:qt)
            ) %>
            <ul class="search-options">
              <li>
                <%= link_to 'Advanced Search', '/advanced', :class=>'advanced_search'%>
              </li>
            </ul>
            <%= render :partial=>'/user_util_links' %>
          </div>
        <div>
      </nav>
    </div>
  <% end %>
</header>
