<div class="form-group advanced-search-facet row">
  <label class="col-sm-4 control-label advanced-facet-label"><%= @facet_field.label %></label>
  <div class="col-sm-8">
  <%= content_tag(:select, :multiple => true, "aria-hidden" => "true",
    :name   => "f_inclusive[#{@facet_field.key}][]",
    :id     => @facet_field.key.parameterize,
    :class  => "form-control custom-select selectpicker",
    :title  => "Type or select #{ @facet_field.label.downcase.pluralize }",
    :data   => { "live-search": "true" }) do %>
    <% presenters.each do |presenter| %>
      <%= content_tag :option, :value => presenter.value, :selected => presenter.selected? do %>
        <%= presenter.label %>&nbsp;&nbsp;(<%= number_with_delimiter presenter.hits %>)
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
