<%= form_with url: @url, local: true, method: @method, class: @classes.join(' '), scope: @prefix, role: 'search', aria: { label: scoped_t('submit') }, **@form_options do |f| %>
  <%= render Blacklight::HiddenSearchStateComponent.new(params: @params) %>
  <% if search_fields.length > 1 %>
    <%= f.label :search_field, scoped_t('search_field.label'), class: 'sr-only visually-hidden' %>
  <% end %>
  <% before_input_groups.each do |input_group| %>
    <%= input_group %>
  <% end %>
  <div class="input-group">
    <%= prepend %>

    <% if search_fields.length > 1 %>
      <span class="input-group-prepend">
        <%= f.select(:search_field,
                   options_for_select(search_fields, h(@search_field)),
                   {},
                   id: 'search_field',
                   'aria-label': scoped_t('search_field.title'),
                   class: "custom-select form-select search-field") %>
      </span>
    <% elsif search_fields.length == 1 %>
      <%= f.hidden_field :search_field, value: search_fields.first.last %>
    <% end %>

    <%= f.label @query_param, scoped_t('search.label'), class: 'sr-only visually-hidden' %>
    <% if autocomplete_path.present? %>
      <auto-complete src="<%= autocomplete_path %>" for="autocomplete-popup" class="search-autocomplete-wrapper">
        <%= f.search_field @query_param, value: @q, placeholder: scoped_t('search.placeholder'),
                                         class: "search_q q form-control rounded-#{search_fields.length > 1 ? '0' : 'left'}",
                                         autofocus: @autofocus, aria: { label: scoped_t('search.label'), autocomplete: 'list', controls: 'autocomplete-popup' },
                                         id: 'q'  %>
        <ul id="autocomplete-popup" role="listbox" aria-label="<%= scoped_t('search.label') %>"></ul>
      </auto-complete>
    <% else %>
      <span class="search-input">
            <%= f.search_field @query_param, value: @q, placeholder: scoped_t('search.placeholder'),
                                       class: "search_q q form-control rounded-#{search_fields.length > 1 ? '0' : 'left'}",
                                       autofocus: @autofocus, aria: { label: scoped_t('search.label') },
                                       id: 'q'  %>
      </span>
    <% end %>

    <%= append %>
      <span class="input-group-append">
        <button type="submit" class="btn btn-primary search-btn" id="search">
          <span class="submit-search-text sr-only"><%=t('blacklight.search.form.submit')%></span>
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </span>
  </div>
<% end %>

<% if advanced_search_enabled? %>
  <%= link_to t('blacklight.advanced_search.more_options'), @advanced_search_url, class: 'advanced_search btn btn-secondary'%>
<% end %>
