<div class="modal-body">
  <%= render :partial=>'shared/flash_msg' %>
  <%= simple_form_for(
        form, 
        url: contact_question_path, 
        data:  { blacklight_modal: 'trigger' }, 
        html: {class: "modal_form"}
      ) do |f| 
  %>
    <%= f.label :name %><br>
    <%= f.input_field :name %><br>
    <%= f.label :email %><br>
    <%= f.input_field :email %><br>
    <%= f.label :message %><br>
    <%= f.input_field :message, as: :text, style: "width: 100%" %><br>
    <%= f.input :context, as: :hidden %>
    <%= f.input :title, as: :hidden %>
    <%= f.input :feedback_desc, as: :hidden %>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      <%= f.submit "Send", class: "btn btn-primary", id: 'submit-question' %>
    </div>
  <% end %>
</div>
