<ul <%=facet_value_id(display_facet)%> class="pivot-facet list-unstyled <%=initial_collapse(field_name, display_facet)%>">
  <% display_facet.items.each do |item| -%>
    <li>
    <span class="facet-values">
    <% unless item.items.blank?  %>
      <a class="icon toggle <%= 'collapsed' unless pivot_facet_child_in_params?(field_name, display_facet) %>" href="#" data-target=<%='#'+item.field.parameterize+'-'+item.value.parameterize%> data-toggle="collapse"></a>
    <% end %>
    <% if pivot_facet_in_params?( field_name, item ) %>
        <%= render_selected_facet_value(field_name, item) %>
    <% else %>
      <%= render_facet_value(field_name, item)%>
    <% end -%>
    </span>

    <% unless item.items.blank? %>
      <%= render :partial => 'facet_pivot', :locals => { :display_facet => item, field_name: field_name } %>
    <% end %>
    </li>
  <% end %>

</ul>