
<% JSON.parse(document[field]).each do |label, hash_vals| %>
<dt class="blacklight-<%= label.parameterize %>"><%= label %></dt>
<dd><ul>
  <% hash_vals.each do |json_val| %>
    <% if field == 'related_name_json_1display' %>
    <li class="blacklight-<%= label.parameterize %>" dir="<%= json_val.dir %>"><%= browse_related_name_hash(json_val) %></li>
    <% else %>
	<li class="blacklight-<%= label.parameterize %>" dir="<%= json_val.dir %>"><%= json_val %></li>
    <% end %>
    <% end %>
</ul></dd>
<% end %>
