<%# default partial to display solr document fields in catalog index view -%>

<ul class="document-metadata dl-horizontal dl-invert col-md-10">

  <% index_fields(document).each do |solr_fname, field| -%>
    <% if should_render_index_field? document, field %>
      <% if document[solr_fname].length == 1 || !document[solr_fname].is_a?(Array) || multiple_holdings?(document, solr_fname) %>
        <% valdir = getdir(document[solr_fname])%>
        <% value = render_index_field_value document, :field => solr_fname %>
        <li class="blacklight-<%= solr_fname.parameterize %>" dir="<%= valdir %>"><%= value %></li>
      <% else %>
        <% valdirs = [] %>
        <% document[solr_fname].each do |value| %>
           <% valdirs << getdir(value) %>
        <% end %>

        <li class="blacklight-<%= solr_fname.parameterize %>">
        <ul>
        <% values = render_index_field_value(document, :field => solr_fname).split("<br/>").each_with_index do |value, i| %>
            <li dir="<%= valdirs[i] %>"> <%=value.html_safe %> </li>
        <% end %>
        </ul>
        </li>
      <% end %>
    <% end -%>
  <% end -%>

</ul>

<%= content_tag(:div, class: "document-thumbnail col-md-2", data: document.identifier_data) do %>
  <div class="default"></div>
<% end %>
