<%# default partial to display solr document fields in catalog index view -%>
<span class="Z3988" aria-hidden='true' title="<%= document.export_as_openurl_ctx_kev %>"></span>
<ul class="document-metadata dl-horizontal dl-invert">
  <%= render IndexMetadataComponent.new presenter: doc_presenter %>
</ul>
  <div class="lux">
    <% physical_block = holding_block_search(document) -%>
    <% online_block = online_content_block(document) -%>
    <% if physical_block.present? || online_block.present? -%>
      <%= physical_block -%>
      <%= online_block -%>
    <% else -%>
      <div><%= t('blacklight.holdings.search_missing') %></div>
    <% end -%>
  </div>
</div>

  <div class="thumbnail-wrapper">
    <div class="lux">
    <bookmark-button
      v-bind:in-bookmarks="<%= bookmarked? document %>"
      v-bind:logged-in="<%= !!current_user %>"
      document-id="<%= document.id %>"></bookmark-button>
    </div>
      <%= render ThumbnailComponent.new document: %>
  </div>
