<%# default partial to display solr document fields in catalog index view -%>
<span class="Z3988" aria-hidden='true' title="<%= document.export_as_openurl_ctx_kev %>"></span>
<ul class="document-metadata dl-horizontal dl-invert">
  <%= render IndexMetadataComponent.new presenter: doc_presenter %>
  <li class="blacklight-holdings"><%= holding_block_search(document) %></li>
</ul>
</div>

  <div class="thumbnail-wrapper">

  <% if using_blacklight7 %>
    <%= render Blacklight::Document::BookmarkComponent.new document: %>
  <% else %>
    <%= render Blacklight::Document::BookmarkComponent.new document:, action: %>
  <% end %>

  <%= render ThumbnailComponent.new document: %>
  </div>
