<% doc_presenter = index_presenter(document) %>
<%# default partial to display solr document fields in catalog index view -%>
<ul class="document-metadata dl-horizontal dl-invert">

  <% index_fields(document).each do |field_name, field| -%>
    <% if should_render_index_field? document, field %>
      <% if document[field_name].length == 1 || !document[field_name].is_a?(Array) %>
        <% valdir = Array(document[field_name]).first.dir %>
        <% value = doc_presenter.field_value field_name %>
        <li class="blacklight-<%= field_name.parameterize %>" dir="<%= valdir %>"><%= safe_join(Array.wrap(value)) %></li>
      <% else %>
        <% valdirs = [] %>
        <% document[field_name].each do |value| %>
           <% valdirs << value.dir %>
        <% end %>

        <li class="blacklight-<%= field_name.parameterize %>">
          <ul>
          <% if doc_presenter.configuration.index_fields.fetch(field_name)[:helper_method] %>
            <% values = Array.wrap(doc_presenter.field_value field_name) %>
          <% else %>
            <% values = document[field_name] %>
          <% end %>
          <% values.each do |value| %>
            <li dir="<%= valdirs[values.index(value)] %>"> <%= safe_join(Array.wrap(value)) %> </li>
          <% end %>
          </ul>
        </li>
      <% end %>
    <% end -%>
  <% end -%>
  <li class="blacklight-holdings"><%= holding_block_search(document) %></li>
</ul>
</div>
<div class="thumbnail-wrapper">

<% # bookmark functions for items/docs -%>
  <%= render_index_doc_actions document, :wrapping_class => "index-document-functions" %>

<%= content_tag(:div, class: "document-thumbnail", data: document.identifier_data) do %>
  <div class="default"></div>
<% end %>
</div>
</div>
