<%# default partial to display solr document fields in catalog index view -%>
<span class="Z3988" aria-hidden='true' title="<%= document.export_as_openurl_ctx_kev %>"></span>
<ul class="document-metadata dl-horizontal dl-invert">
  <%= render IndexMetadataComponent.new presenter: doc_presenter %>
  <div class="lux">
    <%= holding_block_search(document) %>
  </div>
</ul>
</div>

  <div class="thumbnail-wrapper lux">
    <bookmark-button
      v-bind:in-bookmarks="<%= bookmarked? document %>"
      v-bind:logged-in="<%= !!current_user %>"
      document-id="<%= document.id %>"></bookmark-button>
  </div>
<div class="thumbnail-wrapper">
  <%= render Blacklight::Document::BookmarkComponent.new document:, action: %>
  <%= render ThumbnailComponent.new document: %>
</div>
