<% doc_presenter = document_presenter(document) %>
<%# default partial to display solr document fields in catalog index view -%>
<abbr class="unapi-id" title="<%= document.id %>"></abbr>
<ul class="document-metadata dl-horizontal dl-invert">
  <%= render IndexMetadataComponent.new presenter: doc_presenter %>
  <li class="blacklight-holdings"><%= holding_block_search(document) %></li>
</ul>
</div>

  <div class="thumbnail-wrapper">

  <% # bookmark functions for items/docs -%>
    <%= render_index_doc_actions document, :wrapping_class => "index-document-functions" %>

  <%= content_tag(:div, class: "document-thumbnail", data: document.identifier_data) do %>
    <div class="default"></div>
  <% end %>
  </div>
</div>
