
      <% # header bar for doc items in index view -%>
      <div class="documentHeader row">

        <%# main title container for doc partial view
            How many bootstrap columns need to be reserved
            for bookmarks control depends on size.
        -%>

        <% counter = document_counter_with_offset(document_counter) %>
        <h3 class="index_title col-sm-9 col-lg-10">
          <span class="document-counter">
            <%= t('blacklight.search.documents.counter', :counter => counter) if counter %>
          </span>

        <% titlealt = render_index_field_value document, :field => 'title_vern_display' %>
        <% altdir = getdir(titlealt) %>
        <% if titlealt.length != 0 %>
          <% if altdir == "rtl" %>
            <%= link_to_document document, titlealt, :counter => counter, :dir => altdir, :style => "float: right;" %>
          <% else %>
            <%= link_to_document document, titlealt, :counter => counter, :dir => altdir %>
          <% end %>
          </h3>

          <h3 class="index_title col-sm-9 col-lg-10">

        <% end %>

        <%= link_to_document document, document_show_link_field(document), :counter => counter %>
        </h3>
        <% # bookmark functions for items/docs -%>
        <%= render_index_doc_actions document, :wrapping_class => "index-document-functions col-sm-3 col-lg-2" %>
      </div>

