<% doc_presenter = document_presenter(document) %>
<%# default partial to display solr document fields in catalog index view -%>
<abbr class="unapi-id" title="<%= document.id %>"></abbr>
<ul class="document-metadata dl-horizontal dl-invert">
  <% doc_presenter.field_presenters.reject { |field| field.field_config.show == false }.each do |field_presenter| -%>
    <% component = field_presenter.component || Blacklight::MetadataFieldComponent %>
    <li><%= render component.new field: field_presenter, layout: IndexMetadataFieldLayoutComponent %></li>
  <% end -%>
  <li class="blacklight-holdings"><%= holding_block_search(document) %></li>
</ul>
</div>

  <div class="thumbnail-wrapper">

  <% # bookmark functions for items/docs -%>
    <%= render_index_doc_actions document, :wrapping_class => "index-document-functions" %>

  <%= content_tag(:div, class: "document-thumbnail", data: document.identifier_data) do %>
    <div class="default"></div>
  <% end %>
  </div>
</div>
