<% decorated = linked_records.decorated %>
<% unless decorated.empty? %>
  <dt class="blacklight-<%= field.field.parameterize %>"><%= t(:'blacklight.search.show.label', label: field.label) %></dt>
  <dd class="blacklight-<%= field.field.parameterize %>">
    <ul id="linked-records-<%= field.field.parameterize %>">
      <% decorated.each do |linked_record| %>
        <% if linked_record.vernacular_title %>
          <li dir=<%= linked_record.vernacular_title.dir %> id="linked-records-<%= field.field.parameterize %>-vern-title"><%= link_to linked_record.vernacular_title, solr_document_url(linked_record.id) %></li>
        <% end %>
        <li dir=<%= linked_record.title.dir %> id="linked-records-<%= field.field.parameterize %>-title"><%= link_to linked_record.title, solr_document_url(linked_record.id) %></li>
      <% end %>
    </ul>
    <%= render 'other_versions_show_more', linked_record_count: linked_records.total_count_of_linked_documents_in_index, field: field, doc_id: document.id %>
  </dd>
<% end %>
