<% #Using the Bootstrap Pagination class  -%>
<div class='pagination-search-widgets col'>
  <div class="row">
    <div class="col">
      <div class="button--start-over">
        <%= render_start_over_link(start_over_path) %>
      </div>
      <% if @search_context[:prev] || @search_context[:next] %>
        <%= link_back_to_catalog class: 'btn btn-outline-primary button--back-to-search', label:  t('blacklight.back_to_search').html_safe %>
        <div class="page_links">
          <%= link_to_previous_document @search_context[:prev] %>
          <%= link_to_next_document @search_context[:next] %>
          <%= item_page_entry_info %>
        </div>
      <% end %>
    </div>
    <div class="search-widgets">
      <ul class="navbar">
        <% if @document.voyager_record? %>
          <li>
            <%= render_cite_link(citation_solr_document_path(id: @document)) %>
          </li>
        <% end %>
        <li class="dropdown">
          <button class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"><span class="icon-share" aria-hidden="true"></span> Send <span class="hidden-xs hidden-sm">to <span class="caret"></span></span></button>
          <ul class="dropdown-menu" role="menu">
            <li class="sms">
              <%= link_to "SMS", sms_solr_document_path(:id => @document), {:id => 'smsLink', :data => {:blacklight_modal => "trigger"}, class: "icon-mobile dropdown-item", rel: 'nofollow'} %>
            </li>
            <li class="email">
              <%= link_to "Email", email_solr_document_path(:id => @document), {:id => 'emailLink', :data => {:blacklight_modal => "trigger"}, class: "icon-email dropdown-item", rel: 'nofollow'} %>
            </li>
            <% if @document.voyager_record? %>
              <li class="endnote">
                <%= link_to "EndNote", solr_document_path(@document, :format => 'endnote'), rel: 'nofollow', class: "icon-external dropdown-item" %>
              </li>
              <li class="refworks">
                <%= link_to "RefWorks", refworks_export_url({url: polymorphic_url(url_for_document(@document), format: :refworks_marc_txt, only_path: false)}), rel: 'nofollow', class: "icon-external dropdown-item", :target => "_blank"  %>
              </li>
              <li class="ris">
              <%= link_to 'RIS', solr_document_path(@document, :format => 'ris'), rel: 'nofollow', class: "icon-external dropdown-item" %>
              </li>
            <% end %>
            <li class="print">
              <a href="javascript:if(window.print)window.print()" class="dropdown-item"><span class="icon-print" aria-hidden="true"></span>Printer</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
