<% #Using the Bootstrap Pagination class  -%>
<% #DEPRECATED - using id="previousNextDocument" as a selector is deprecated and will be removed in Blacklight 6.0 %>
<div id='previousNextDocument' class='pagination-search-widgets'>
  <div class="col-xs-12 col-sm-6">
    <div class="button--start-over">
      <%= render_start_over_link(start_over_path) %>
    </div>
  <% if @previous_document || @next_document %>
      <%= link_back_to_catalog class: "btn btn-default" %>
      <div class="page_links">
        <%= link_to_previous_document @previous_document %>
        <%= link_to_next_document @next_document %>
        <%= item_page_entry_info %>
      </div>
  <% end %>
  </div>
    <div class="pull-right search-widgets col-xs-12 col-sm-6">
      <ul class="nav navbar-nav navbar-right">
        <% if @document.voyager_record? %>
          <li>
            <%= render_cite_link(citation_solr_document_path(id: @document)) %>
          </li>
        <% end %>
        <li class="dropdown">
          <button class="btn btn-default" data-toggle="dropdown"><span class="icon-share" aria-hidden="true"></span> Send <span class="hidden-xs hidden-sm">to <span class="caret"></span></span></button>
          <ul class="dropdown-menu" role="menu">
            <li class="sms">
              <%= link_to "SMS", sms_solr_document_path(:id => @document), {:id => 'smsLink', :data => {:ajax_modal => "trigger"}, class: "icon-mobile", rel: 'nofollow'} %>
            </li>
            <li class="email">
              <%= link_to "Email", email_solr_document_path(:id => @document), {:id => 'emailLink', :data => {:ajax_modal => "trigger"}, class: "icon-email", rel: 'nofollow'} %>
            </li>
            <% if @document.voyager_record? %>
              <li class="endnote">
                <%= link_to "EndNote", solr_document_path(@document, :format => 'endnote'), rel: 'nofollow', class: "icon-external" %>
              </li>
              <li class="refworks">
                <%= link_to "RefWorks", refworks_export_url({url: polymorphic_url(url_for_document(@document), format: :refworks_marc_txt, only_path: false)}), rel: 'nofollow', class: "icon-external", :target => "_blank"  %>
              </li>
              <li class="ris">
              <%= link_to 'RIS', solr_document_path(@document, :format => 'ris'), rel: 'nofollow', class: "icon-external" %>
              </li>
            <% end %>
            <li class="print">
              <a href="javascript:if(window.print)window.print()"><span class="icon-print" aria-hidden="true"></span>Printer</a>
            </li>
          </ul>
        </li>
        <li>
        <%#= render 'blacklight/folders/show/add_to_folder' %>
          <%= render(:partial => 'catalog/bookmark_control', :locals => {:document=> @document}) %>
        </li>
        <!-- <li> -->
          <%# in_folders = Blacklight::Folders::Folder.for_user(current_or_guest_user).with_document(@document) %>
            <%# unless in_folders.empty? %>
              <!-- <div class="folders"> -->
                  <!-- Contained in -->
                  <!-- <ul> -->
                    <%# in_folders.each do |folder| %>
                      <!-- <li> <%#= link_to folder.name, blacklight_folders.folder_path(folder) %> </li> -->
                    <%# end %>
                  <!-- </ul> -->
            <%# end %>
        <!-- </li> -->
      </ul>
    </div>
</div>
