<% #Using the Bootstrap Pagination class  -%>
<% #DEPRECATED - using id="previousNextDocument" as a selector is deprecated and will be removed in Blacklight 6.0 %>
<div id='previousNextDocument' class='pagination-search-widgets'>
  <div class="col-xs-12 col-sm-6">
    <div class="button--start-over">
      <%=link_to t('blacklight.search.start_over'), start_over_path, :class => "catalog_startOverLink btn btn-primary icon-refresh", :id=>"startOverLink" %>
    </div>
  <% if @previous_document || @next_document %>
      <%= link_back_to_catalog class: "btn btn-default icon-moveback" %>
      <div class="page_links">
        <%= link_to_previous_document @previous_document %>
        <%= link_to_next_document @next_document %>
        <%= item_page_entry_info %>

      </div>
  <% end %>
  </div>
    <div class="pull-right search-widgets col-xs-12 col-sm-6">
      <ul class="nav navbar-nav navbar-right">
        <% if @document.voyager_record? %>
          <li>
            <%= link_to "Cite", citation_catalog_path(:id => @document), {:id => 'citeLink', :data => {:ajax_modal => "trigger"}, class: "btn btn-default icon-cite"} %>
          </li>
        <% end %>

        <li class="dropdown">
          <button class="btn btn-default" data-toggle="dropdown"><span class="icon-share"></span>Send to <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu">
            <li class="sms">
              <%= link_to "SMS", sms_catalog_path(:id => @document), {:id => 'smsLink', :data => {:ajax_modal => "trigger"}, class: "icon-mobile"} %>
            </li>
            <li class="email">
              <%= link_to "Email", email_catalog_path(:id => @document), {:id => 'emailLink', :data => {:ajax_modal => "trigger"}, class: "icon-email"} %>
            </li>
            <% if @document.voyager_record? %>
              <li class="endnote">
                <%= link_to "EndNote", catalog_path(@document, :format => 'endnote'), class: "icon-external" %>
              </li>
              <li class="refworks">
                <%= link_to "RefWorks", refworks_export_url({url: polymorphic_url(url_for_document(@document), format: :refworks_marc_txt, only_path: false)}), class: "icon-external", :target => "_blank"  %>
              </li>
            <% end %>
            <li class="print">
              <a href="javascript:if(window.print)window.print()"><span class="icon-print"></span>Printer</a>
            </li>
          </ul>
        </li>
        <li>
        <%#= render 'blacklight/folders/show/add_to_folder' %>
          <%= render(:partial => 'catalog/bookmark_control', :locals => {:document=> @document}) %>
        </li>
        <!-- <li> -->
          <%# in_folders = Blacklight::Folders::Folder.for_user(current_or_guest_user).with_document(@document) %>
            <%# unless in_folders.empty? %>
              <!-- <div class="folders"> -->
                  <!-- Contained in -->
                  <!-- <ul> -->
                    <%# in_folders.each do |folder| %>
                      <!-- <li> <%#= link_to folder.name, blacklight_folders.folder_path(folder) %> </li> -->
                    <%# end %>
                  <!-- </ul> -->
            <%# end %>
        <!-- </li> -->
      </ul>
    </div>
</div>
