<div class="modal-body">
  <%= render :partial=>'shared/flash_msg' %>
  <div>
    Library holdings and catalog search results can reflect discriminatory attitudes and assumptions.
    <br/>
    <br/>
    You can help us address this issue by reporting any biased or harmful results you encounter on Library search tools by using the form below. If you would prefer to report this anonomously, you may leave the name end email fields blank.
    <br/>
    <br/>
    You are reporting bias in the following <%= link_to 'search results <i class="fa fa-external-link new-tab-icon-padding" aria-label="opens in new tab" role="img"></i>'.html_safe, form.context, target: '_blank', title: 'opens in a new tab' %>
    <br/>
    <br/>
  </div>

  <%= simple_form_for(
        form,
        url: contact_report_biased_results_path,
        data:  { blacklight_modal: 'trigger' },
        html: { class: "modal_form" }
      ) do |f|
  %>
    <div>
      <%= f.label :message %><br>
      <%= f.input_field :message, as: :text, style: "width: 100%" %><br>
    </div>

    <div>
      <%= f.label :name, style: "width: 100%", label: 'Name (optional)' %><br>
      <%= f.input_field :name, style: "width: 100%" %><br>
    </div>

    <div>
      <%= f.label :email, label: 'Email (optional)' %><br>
      <%= f.input_field :email, style: "width: 100%" %><br>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bl-dismiss="modal">Cancel</button>
      <%= f.submit "Send", class: "btn btn-primary", id: 'submit-question' %>
    </div>
  <% end %>

</div>
