<% @page_title = t('blacklight.search.show.title', document_title: document_presenter(@document).html_title, application_name: application_name).html_safe %>
<% content_for(:head) { render_link_rel_alternates(@document) }%>

<div id="document" class="document <%= render_document_class %>" itemscope  itemtype="<%= @document.itemtype %>" data-location="<%= Array.wrap(@document["advanced_location_s"]) %>">
  <div id="doc_<%= @document.id.to_s.parameterize %>">
    <% blacklight_config.view_config(:show).partials.each do |partial| %>
      <%= render_document_partial(@document, partial) %>
    <% end %>
  </div>
</div>

<!-- COinS, for Zotero among others. -->
<span class="Z3988" aria-hidden='true' title="<%= @document.export_as_openurl_ctx_kev %>"></span>

<%= render 'show_coin_description', document: @document if @document.numismatics_record? %>
