<li class="linked-block">
  <%= link_to(linked_record.title || "Unknown", solr_document_url(linked_record.id)) %>
  <% if linked_record.fields.count == 1 %>
    <div class="linked-block-id"><span>
      <%= t(:'blacklight.search.show.label', label: linked_record.fields.keys.last) %>
    </span>
    <% linked_record.fields.values.last.each do |field_value| %>
      <span><%= field_value %></span></div>
    <% end %>
  <% else %>
    <ul>
      <% linked_record.fields.each do |field_name, field_values| %>
        <div><%= t(:'blacklight.search.show.label', label: linked_record.fields.keys.last) %></div>
        <li>
          <% field_values.each do |field_value| %>
            <span><%= field_value %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</li>
