<% online, physical = holding_request_block(document) %>
<% unless online.blank? %>
  <div class="location--panel location--online">
    <div class="panel panel-default">
      <div class="panel-heading"><%= t('blacklight.holdings.online') %></div>
      <div class="panel-body">
          <%= online %>
      </div>
    </div>
  </div>
<% end %>

<% if online.blank? && document.standard_numbers? && document.umlaut_fulltext_eligible? %>
  <%= umlaut_services_fulltext(document) %>
<% end %>

<% unless holding_requests_adapter.restrictions.empty? %>
  <div class="restrictions--panel">
    <div class="panel panel-default">
      <div class="panel-heading"><%= 'Restrictions' %></div>
      <div class="panel-body">
        <%= PhysicalHoldingsMarkupBuilder.restrictions_markup(holding_requests_adapter.restrictions) %>
      </div>
    </div>
  </div>
<% end %>

<% unless physical.empty? %>
  <div class="location--panel location--holding">
    <div class="panel panel-default">
      <div class="panel-heading"><%= t('blacklight.holdings.print') %></div>
      <div class="panel-body">
        <%= physical %>
      </div>
    </div>
  </div>
<% end %>

<% document_linked_records = document.linked_records(field: 'other_version_s', query_field: 'other_version_s') %>
<% unless document_linked_records.empty? %>
  <div class="location--panel location--linked">
    <div class="panel panel-default">
      <div class="panel-heading"><%= t('blacklight.holdings.linked') %></div>
      <div class="panel-body">
        <%= render 'show_linked_records', linked_records: document_linked_records %>
      </div>
    </div>
  </div>
<% end %>

<% if document.standard_numbers? %>
  <%= umlaut_services %>
<% end %>
