<% online, physical = holding_request_block(document) %>
<% if current_user&.can_pickup? %>
  <% physical = physical.gsub(">Firestone Request</a>",">Request Pick-up</a>").html_safe %>
<% else %>
  <% physical = physical.gsub(">Firestone Request</a>",">Request</a>").html_safe %>
<% end %>
<h2 class="sr-only">Availability</h2>
<% unless online.blank? &&  @hathi_url.blank? %>
  <div class="availability--online">
    <h3><%= t('blacklight.holdings.online')  %></h3>
    <%= render "hathi_online" if @hathi_url.present?%>
    <%= online if online.present? %>
  </div>
<% end %>

<% if online.blank? && document.standard_numbers? && document.umlaut_fulltext_eligible? %>
  <%= umlaut_services_fulltext(document) %>
<% end %>

<% unless physical.empty? %>
  <div class="availability--physical">
    <h3><%= t('blacklight.holdings.print') %></h3>
    <table class="availability-table">
      <thead>
        <tr>
          <th>Location</th>
          <th>Call Number</th>
          <th>Status</th>
          <th class="location-services"><span class="sr-only">Location Service</span></th>
          <th><span class="sr-only">Notes</span></th>
        </tr>
      </thead>
      <%= physical %>
    </table>
  </div>
<% end %>
