<%# default partial to display solr document fields in catalog show view -%>
<dl class="dl-horizontal  dl-invert">
  <% document_show_fields(document).each do |solr_fname, field| -%>
    <% if should_render_show_field? document, field %>
        <%# marc relator code for authors -%>
        <% if json_field?(field) %>
          <%= render 'hash_show', document: document, field: solr_fname %>
        <% elsif linked_record_field?(field) %>
          <%= render 'other_versions_show', document: document, field: solr_fname, linked_field: field[:link_field] %>
        <% else %>
          <% if solr_fname == 'author_display' && render_document_show_field_value( document, :field => 'marc_relator_display') != ''%>
          <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_value document, :field => 'marc_relator_display' %>:</dt>
          <%# author is default if no marc relator, default for other fields -%>
          <% else %>
          <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label(document, :field => solr_fname).html_safe %></dt>
          <% end %>

          <% if document[solr_fname].length == 1 || !document[solr_fname].is_a?(Array) %>
            <% valdir = Array(document[solr_fname]).first.dir %>
            <% value = render_document_show_field_value document, :field => solr_fname %>
            <dd class="blacklight-<%= solr_fname.parameterize %>" dir="<%= valdir %>"><%= value %></dd>
          <% else %>
            <% valdirs = [] %>
            <% document[solr_fname].each do |value| %>
               <% valdirs << value.dir %>
            <% end %>

            <dd class="blacklight-<%= solr_fname.parameterize %>">
            <ul>
            <% values = render_document_show_field_value(document, :field => solr_fname).split("<br/>").each_with_index do |value, i| %>
                <li dir="<%= valdirs[i] %>"> <%=value.html_safe %> </li>
            <% end %>
            </ul>
            </dd>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</dl>

      <%# Example of using extra passed parameters from catalog controller -%>
      <%# elsif solr_fname == 'language_code_s' %>
<!--       <dd><%# document_show_fields(document)["language_code_s"].super_duper_info %></dd>  -->
