<div id="sortAndPerPage" class="clearfix">
  <div class="pagination-rss pull-left">
    <%= render :partial => "paginate_compact", :object => @response if show_pagination? %>
    <%= link_to(" ", search_catalog_path(params.permit!.merge(format: 'atom',
                sort: 'cataloged_tdt desc, pub_date_start_sort desc, title_sort asc').except(:controller, :action)),
                :class => "icon-rssfeed", :title => "Subscribe to results feed", 'data-toggle' => "tooltip" ) %>
  </div>
  <div class="search-widgets pull-right">
    <% if bookmarks? %>
      <%= render partial: 'tools', locals: { document_list: @document_list } %>
    <% end %>
    <%= render partial: 'sort_widget' %>
    <%= render partial: 'per_page_widget' %>
    <% unless bookmarks? %>
      <%= render partial: 'bookmark_all' %>
    <% end %>
  </div>
</div>
