<% @document = SolrDocument.new(id: params[:id]) %>
<div class="pagination-search-widgets col">
  <div class="row">
    <div class="col-xs-12 px-4">
    <%= link_to "Back to item", solr_document_path(@document), :class => "btn btn-primary" %>
    </div>
    <div class="search-widgets col pr-4">
      <ul class="navbar navbar-nav pull-right">
        <li class="print">
          <a href="javascript:if(window.print)window.print()" class="dropdown-item"><span class="icon-print" aria-hidden="true"></span>Send to printer</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-12">
    <h1 class="page-heading"><%= t('blacklight.search.librarian_view.title') %></h1>
</div>

<%- if @document.respond_to?(:to_marc) && @document.to_marc.present? -%>
  <%= render "marc_view", document: @document %>
<%- elsif @document.respond_to?(:to_marc) && @document.can_retry? %>
  <%= t('blacklight.search.librarian_view.retry') %>
<%- else %>
  <%= t('blacklight.search.librarian_view.empty') %>
<%- end -%>
