<%= render 'previous_next_doc' %>
  <div id="main-content" class="col-sm-9 col-xs-12 main-content">
    <%= render_document_heading_partial %>

    <div id="sidebar" class="col-sm-2 col-xs-12 <%= render_document_class %>">
      <%= render_document_sidebar_partial %>
    </div>

    <div id="content" class="col-sm-10 col-xs-12 content">
      <%= render_document_main_content_partial %>
        <% if @document.voyager_record? %>
          <dl class="dl-horizontal dl-invert">
            <dt class="other-views">Other views:</dt>
            <dd class="classic-views">
              <ul>
                <li><%= link_to t('blacklight.tools.librarian_view'), staff_view_solr_document_path(@document), {:id => 'staffLink'} %></li>
                <li><%= link_to "#{t('blacklight.voyager')} <span class=\"glyphicon glyphicon-share-alt\"></span>".html_safe, voyager_url(@document.id), {:id => 'voyagerLink', :target => "_blank"} %></li>
              </ul>
            </dd>
          </dl>
        <% end %>
    </div>
  </div>

  <% if render_availability? %>
    <div id="availability" class="col-sm-3 col-xs-12 record-availability">
      <%= render partial: 'show_availability_sidebar', locals: { document: @document } %>
    </div>
  <% end %>
<% if @document.ark.present? %>
  <div id="view" data-ark="<%= @document.ark %>">
  </div>
<% end %>
