<tr id='<%= "request_#{requestable.preferred_request_id}" %>'>
  <%= render partial: 'requestable_checkbox', locals: { requestable: requestable, single_item_request: single_item_request } %>
  <%= render partial: 'requestable_enum', locals: { requestable: requestable } %>
  <%= render partial: 'requestable_status', locals: { requestable: requestable } %>
  <td class='delivery--options' aria-live="polite">
    <%= render partial: 'requestable_delivery_option_pick_up', locals: { requestable: requestable, mfhd: mfhd, default_pick_ups: default_pick_ups, request_context: request_context, selected: false, fill_in: false } %>  
    <%= render partial: 'requestable_delivery_option_digitize', locals: { requestable: requestable, request_context: request_context, collapse: "collapse", selected: false, type: 'digitize', fill_in: false } %>
  </td>
</tr>
