<h2 class="section-heading">Items Available for Pickup</h2>
<% if (!@account.avail_items.nil?) %>
  <table class="table table-striped table-bordered account--available_items">
    <thead>
      <tr>
        <th>Cancel</th>
        <th>Item Title</th>
        <th>Request Expiration Date</th>
        <th>Pickup Location</th>
      </tr>
    </thead>
    <tbody>
      <% @account.avail_items.each do |item| %>
        <tr>
         <td>
            <label><input id="cancel-<%= item['itemID'] %>" type="checkbox" name="cancel_requests[]"
              value="<%= format_hold_cancel(item) %>">
              <span class="sr-only">Cancel</span></label>
          </td>
          <td><%= item["itemTitle"] %></td>
          <td><%= format_date(item["expireDate"]) %></td>
          <td><%= item["pickuplocation"] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= I18n.t('blacklight.account.no_pickup_items') %></p>
<% end %>
