<h3 class="section-heading" id="items-available">Items currently available for pickup</h3>
<% if (!@account.avail_items.nil?) %>
  <table class="table table-striped table-bordered account--available_items">
    <thead>
      <tr>
        <th class="hide-print"><label><input type="checkbox" id="select-all-available"/> <span class="sr-only">Select all</span></label></th>
        <th>Item</th>
        <th>Request expiration date</th>
        <th>Pickup location</th>
      </tr>
    </thead>
    <tbody>
      <% @account.avail_items.each do |item| %>
        <tr>
         <td class="hide-print">
            <label><input id="cancel-<%= item['itemID'] %>" type="checkbox" name="cancel_requests[]"
              value="<%= format_hold_cancel(item) %>">
              <span class="sr-only">Cancel</span></label>
          </td>
          <td><%= item["itemTitle"] %></td>
          <td><%= format_date(item["expireDate"]) %></td>
          <td><%= item["pickuplocation"] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= I18n.t('blacklight.account.no_pickup_items') %></p>
<% end %>
