<% if (!@account.charged_items.nil?) %>
  <%= form_tag('/account/renew', remote: true, id: "item-renew", class: "table--overflow") do %>
    <table class="table table-striped table-bordered account--charged_items">
      <thead>
        <tr>
          <th class="hide-print"><% if (!@account.has_blocks?) %><label><input type="checkbox" id="select-all-renew"/> <span class="sr-only">Select all</span></label><% end %></th>
          <th>Item</th>
          <th>Call number</th>
          <th>Due date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @account.charged_items.each do |item| %>
          <tr data-item-id="<%= item['itemId'] %>" class="<%= renew_state(item) %>">
            <td class="hide-print">
              <% unless @account.has_blocks? %>
                <% if item["renewable"] == 'true' %>
                  <label><input id="charged-<%= item["itemId"] %>"
                    type="checkbox" name="renew_items[]"
                    value="<%= format_renew_string(item) %>"> <span class="sr-only"><%= I18n.t('blacklight.account.renew_label') %></span></label>
                <% else %>
                  <span><%= I18n.t('blacklight.account.not_renewable_due_to_item_status') %></span>
                <% end %>
              <% else %>
                <span><%= I18n.t('blacklight.account.not_renewable_due_to_patron_block') %></span>
              <% end %>
            </td>
            <td><%= item["title"] %></td>
            <td><%= charged_item_callnum(item) %></td>
            <td class="item--due">
              <%= format_date(item['dueDate']) %>
            </td>
            <td>
              <span class="item--messages">
                <em><%= item_status_to_label(item) %></em>
                <%= message_status(item) %>
                <%= renew_status(item) %>
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= button_tag "Renew selected items", class: 'btn btn-primary hide-print', data: { disable_with: "Submitting renewal requests <span class='icon-spinner pulse'></span>" } %>
  <% end %>
<% else %>
  <p><%= I18n.t('blacklight.account.no_pickup_items') %></p>
<% end %>
