<% if (!@account.charged_items.nil?) %>
  <%= form_tag('/account/renew', remote: true, id: "item-renew") do %>
    <div class="table-responsive">
      <table class="table table-striped table-bordered account--charged_items">
        <thead>
          <tr>
            <th>Renew?</th>
            <th>Item</th>
            <th>Call Number</th>
            <th>Item Type</th>
            <th>Status</th>
            <th>Due Date</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          <% @account.charged_items.each do |item| %>
            <tr data-item-id="<%= item['itemId'] %>">
              <td>
                <% unless @account.has_blocks? %>
                  <% if item["renewable"] == 'true' %>
                    <label><input id="charged-<%= item["itemId"] %>" 
                      type="checkbox" name="renew_items[]" 
                      value="<%= format_renew_string(item) %>"> 
                      <%= I18n.t('blacklight.account.renew_label') %></label>
                  <% else %>
                    <span><%= I18n.t('blacklight.account.not_renewable_due_to_item_status') %></span>
                  <% end %>
                <% else %>
                  <span><%= I18n.t('blacklight.account.not_renewable_due_to_patron_block') %></span>
                <% end %>
              </td>
              <td><%= item["title"] %></td>
              <td><%= item["callNumber"] %></td>
              <td><%= item["itemtype"] %></td>
              <td>
                <em>
                  <%= item_status_to_label(item) %>
                </em>
              </td>
              <td>
                <%= format_date(item['dueDate']) %>
              </td>
              <td>
                <span class="item--messages">
                  <%= message_status(item) %>
                  <%= renew_status(item) %>
                </span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="form-group">
        <select id="renew-choices" class="form-control">
          <option value="selected-renew">Renew selected items</option>
          <option value="select-all-renew">Renew all items from Princeton University Library</option>
        </select>
      </div>
      <%= button_tag "Renew items", class: 'btn btn-primary', data: { disable_with: 'Submitting Renewal Requests' } %>
    </div>
  <% end %>
<% else %>
  <p><%= I18n.t('blacklight.account.no_pickup_items') %></p>
<% end %>