<%= form_tag('/account/cancel_ill_requests', remote: true, id: "ill-request-cancel", class: "table--overflow") do %>

  <h2 class="section-heading" id="outstanding-requests">Outstanding Inter Library Loan and Digitization Requests</h2>
  <% if (!@illiad_transactions.blank?) %>
    <table class="table table-striped table-bordered account--requests">
      <thead>
        <tr>
          <th class="hide-print"><label><input type="checkbox" id="select-all-borrowing-requests"/> <span class="sr-only">Select all</span></label></th>
          <th>Item</th>
          <th>Status</th>
          <th>More Information</th>
        </tr>
      </thead>
      <tbody>
        <% @illiad_transactions.each do |item| %>
          <tr>
            <td class="hide-print">
              <label><input id="cancel-<%= item['TransactionNumber'] %>" type="checkbox" name="cancel_requests[]"
              value="<%= item['TransactionNumber'] %>">
              <span class="sr-only">Cancel</span></label>
            </td>
            <td><%= item["PhotoJournalTitle"] %> / <%= item["PhotoArticleAuthor"] %></td>
            <td>
              <%= item["TransactionStatus"] %>
            </td>
            <td><a href="https://lib-illiad.princeton.edu/illiad/illiad.dll?Action=10&Form=63&&Value=<%= item['TransactionNumber'] %>">View Details</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p><%= I18n.t('blacklight.account.no_requests') %></p>
  <% end %>
  <% if (!@illiad_transactions.blank?)%>
    <%= button_tag "Cancel requests", class: 'btn btn-primary hide-print', data: { disable_with: "Submitting cancellation request <span class='icon-spinner pulse'></span>" } %>
  <% end %>
<% end %>
