<%= form_tag('/account/cancel', remote: true, id: "request-cancel", class: "table--overflow") do %>
  <%= render 'available_items' %>

  <h3 class="section-heading" id="outstanding-requests">Outstanding requests</h3>
  <% if (!@illiad_transactions.nil?) %>
    <table class="table table-striped table-bordered account--requests">
      <thead>
        <tr>
          <th class="hide-print"><label><input type="checkbox" id="select-all-requests"/> <span class="sr-only">Select all</span></label></th>
          <th>Item</th>
          <th>Status</th>
          <th>Link to Download</th>
        </tr>
      </thead>
      <tbody>
        <% @illiad_transactions.each do |item| %>
          <tr>
            <td class="hide-print">
              <label><input id="cancel-<%= item['TransactionNumber'] %>" type="checkbox" name="cancel_requests[]"
              value="<%= item['TransactionNumber'] %>">
              <span class="sr-only">Cancel</span></label>
            </td>
            <td><%= item["LoanTitle"] %> / <%= item["LoanAuthor"] %></td>
            <td>
              <%= item["TransactionStatus"] %>
            </td>
            <td><a href="">Download PDF</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p><%= I18n.t('blacklight.account.no_requests') %></p>
  <% end %>
  <% if (!@account.request_items.nil?) %>
    <table class="table table-striped table-bordered account--requests">
      <thead>
        <tr>
          <th class="hide-print"><label><input type="checkbox" id="select-all-requests"/> <span class="sr-only">Select all</span></label></th>
          <th>Item</th>
          <th>Request expiration date</th>
          <th>Pickup location</th>
        </tr>
      </thead>
      <tbody>
        <% @account.request_items.each do |item| %>
          <tr>
            <td class="hide-print">
              <label><input id="cancel-<%= item['itemID'] %>" type="checkbox" name="cancel_requests[]"
              value="<%= format_hold_cancel(item) %>">
              <span class="sr-only">Cancel</span></label>
            </td>
            <td><%= item["itemTitle"] %></td>
            <td>
              <%= "Position: #{item['queuePosition']}" %>
              <%= "Expires: #{format_date(item["expireDate"])}" %>
            </td>
            <td><%= item["pickuplocation"] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p><%= I18n.t('blacklight.account.no_requests') %></p>
  <% end %>
  <% if (!@account.request_items.nil?) or (!@account.avail_items.nil?) %>
    <%= button_tag "Cancel requests", class: 'btn btn-primary hide-print', data: { disable_with: "Submitting cancellation request <span class='icon-spinner pulse'></span>" } %>
  <% end %>
<% end %>
