<div class="col-md-12">
  <h1 class="page-heading">Your Library Account</h1>

  <% if(@patron) %>
    <%= render 'blocks' %>
    <%= render 'patron_info' %>
    <%= render 'demerits' %>
    <%= render 'charged_items' %>
    <%= render 'request' %>
    <%= render 'available_items' %>
    <%= render 'fines_fees' %>
  <% end %> 
</div>