<% if has_user_authentication_provider? %>
    <% if current_user %>
    <% unless current_user.to_s.blank? -%>
    <li class="dropdown dropdown-account">
      <button type="button" class="dropdown-toggle btn-account" data-toggle="dropdown">
        <%= t(current_user) %> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li>
          <%= link_to I18n.t('blacklight.header_links.account_page'), main_app.page_path('account') %>
        </li>
        <li>
          <%= render partial: 'blacklight/nav/saved_searches' %>
        </li>
        <li>
          <%= link_to t('blacklight.header_links.logout'), main_app.destroy_user_session_path %>
        </li>
      </ul>
    </li>
    <% end %>
    <% else %>
    <li>
      <%= link_to t('blacklight.header_links.login'), main_app.user_omniauth_authorize_path(:cas) %>
    </li>
    <% end %>
<% end %>
