<% if has_user_authentication_provider? %>
    <% if current_user %>
    <li class="dropdown dropdown-account">
      <button type="button" class="dropdown-toggle btn-account" data-toggle="dropdown">
        <%= current_user.to_s %> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li role="menuitem">
          <%= link_to I18n.t('blacklight.header_links.account_page'), main_app.page_path('account') %>
        </li>
        <li role="menuitem">
          <%= link_to t('blacklight.header_links.saved_searches'), blacklight.saved_searches_path %>
        </li>
        <li role="menuitem">
          <%= link_to t('blacklight.header_links.search_history'), blacklight.search_history_path %>
        </li>
        <li role="menuitem">
          <%= link_to t('blacklight.header_links.logout'), main_app.destroy_user_session_path, :method => :delete %>
        </li>
      </ul>
    </li>
    <% else %>
    <li>
      <button type="button" class="dropdown-toggle btn-account" data-toggle="dropdown">
        <%= t('blacklight.header_links.account_page') %> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li role="menuitem">
          <%= link_to t('blacklight.header_links.login'), main_app.new_user_session_path %>
        </li>
        <li role="menuitem">
          <%= link_to t('blacklight.header_links.search_history'), blacklight.search_history_path %>
        </li>
      </ul>
    </li>
    <% end %>
<% end %>
