<!DOCTYPE html>
<!--[if !IE]><!--><html lang="en" class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Mobile viewport optimization h5bp.com/ad -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- OpenGraph metadata when sharing links, e.g., on FB -->
    <meta property="og:title" content="<%= render_page_title %>" />

    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <!--[if IEMobile]>
      <meta http-equiv="cleartype" content="on">
    <![endif]-->

    <title><%= render_page_title %></title>
    <%= opensearch_description_tag application_name, main_app.opensearch_catalog_url(:format => 'xml') %>
    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="stylesheet" href="https://use.typekit.net/yhr7zwc.css">
    <%= stylesheet_link_tag "application", media: "screen" %>
    <%= stylesheet_link_tag "print", media: "print" %>
    <%= javascript_include_tag "application" %>
    <script><%= Global.generate_js(only: %w(graphql figgy)).html_safe %></script>
    <%= javascript_pack_tag 'application' %>
    <% unless controller.controller_name == "catalog" && controller.action_name == "show" && @document.voyager_record? %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML", async: true %>
    <% end %>
    <%= javascript_include_tag "#{ENV['umlaut_base']}/assets/umlaut/update_html.js" %>
    <%= csrf_meta_tags %>
    <%= content_for(:head) %>
    <link rel="unapi-server" type="application/xml" title="unAPI" href="/unapi"/>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= render 'shared/matomo' if rails_env? %>
  </head>

  <body class="<%= render_body_class %>">
  <%= render :partial => 'shared/header_navbar' %>

  <%= render partial: 'shared/modal' %> <!-- only render if page is using modal -->

  <main id="main-container">
    <div class="container">

      <%= content_tag :h1, application_name, class: 'sr-only application-heading' %>

      <%= render :partial=>'/flash_msg' %>

      <div class="row">
        <%= yield %>
      </div>

    </div>
  </main>
  <% if @document %>
    <%= render partial: 'show_digital_content', locals: { document: @document } %>
  <% end %>
  <%= render :partial => 'shared/footer' %>
  </body>
</html>
